// libraries
@import "open-color.scss"
@import "normalize/_normalize.scss"

// Normalize
@include normalize()

// Vars
@import "_variables.sass"

// Page
@import "_page.sass"

// Index
@import "_index.sass"

// Content
@import "_content.sass"

html
  background: linear-gradient(45deg, $oc-green-0, $oc-orange-0)
  font-size: 16px

body
  margin: 0 auto
  padding: 0
  font-family: 'Lato', 'Roboto', 'Open Sans', sans-serif
  font-size: 1em
  line-height: 1.2em
  text-align: left

h1
  color: $oc-gray-7

h2
  font-size: 2rem
  text-transform: uppercase
  color: $oc-gray-7

h3
  font-size: 6vw
  color: $oc-gray-7

h4
  font-size: 4vw
  color: $oc-gray-7

h5
  font-size: 3vw
  color: $oc-gray-7

p
  color: $oc-gray-7


.matrix-button
  text-align: center
  width: 100%


svg
  background: $oc-orange-1
  width: 25vw
  height: 100%
  fill: $oc-gray-7


